<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Find Your Weather!</title>
  <link href="/style.css" rel="stylesheet" />
  <link rel="icon" href="../assets/images/weather-icon.ico" type="image/x-icon" />
</head>

<body>
  <div class="top-bar">
    <h1>Find Your Weather!</h1>
  </div>


  <div class="coordinate-container">
    <div class="input-group">

      <label for="latitude">
        Latitude
      </label>
      <input class="pos_input" id="latitude" type="number" max="90" min="-90" />
    </div>
    <div class="input-group">

      <label for="longitude">
        Latitude
      </label>
      <input class="pos_input" id="longitude" type="number" max="180" min="-180" />
    </div>
    <div class="option-divider">
        <center>|</center>
        <center>or</center>
        <center>|</center>
    </div>
  </div>
  <button onclick="run()">hello</button>

  <div class="weather-data">
    <p class="data_output" id="max_temp">High Temperature:</p>
    <p class="data_output" id="min_temp">Low Temperature:</p>
    <p class="data_output" id="real_feel_max">Real Feel High:</p>
    <p class="data_output" id="real_feel_min">Real Feel Low:</p>
    <p class="data_output" id="wind_speed">Wind Speed:</p>
    <p class="data_output" id="sunrise">Sunrise Time:</p>
    <p class="data_output" id="sunset">Sunset Time:</p>
    <p class="data_output" id="precip">Precipitation Amount:</p>
    <p class="data_output" id="precip_chance">Precipitation Chance:</p>
    <p class="data_output" id="uv_index">UV Index:</p>
  </div>
  <script src="/index.js"></script>
</body>

</html>
