<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Find YouR Weather!</title>
  <link href="/style.css" rel="stylesheet" />
  <link rel="icon" href="../assets/images/weather-icon.ico" type="image/x-icon" />
</head>

<body>
  <h1>Find Your Weather!</h1>
  <label for="latitude">Latitude</label>
  <input class="pos_input" id="latitude" type="number" max="90" min="-90" />
  <label for="longitude">Longitude</label>
  <input class="pos_input" id="longitude" type="number" max="180" min="-180" />
  <button onclick="run()">hello </button>
  <p class="data_output" id="max_temp">High Temperature:</p>
  <p class="data_output" id="min_temp">Low Temperature:</p>
  <p class="data_output" id="real_feel_max">Real Feel High:</p>
  <p class="data_output" id="real_feel_min">Real Feel Low:</p>
  <p class="data_output" id="wind_speed">Wind Speed:</p>
  <p class="data_output" id="sunrise">Sunrise Time:</p>
  <p class="data_output" id="sunset">Sunset Time:</p>
  <p class="data_output" id="precip">Precipitation Amount:</p>
  <p class="data_output" id="precip_chance">Precipitation Chance:</p>
  <p class="data_output" id="uv_index">UV Index:</p>
  <div>
  <script src="/index.js"></script>
</body>

</html>
