<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Find YouR Weather!</title>
  <link href="/style.css" rel="stylesheet" />
  <link rel="icon" href="../assets/images/weather-icon.ico" type="image/x-icon" />
</head>

<body>
  <h1>Find Your Weather!</h1>
  <input id="latitude" type="number" max="180" min="-180" />
  <input id="longitude" type="number" max="180" min="-180" />
  <button onclick="get_location()">hello </button>
  <p class="data_output" id="max_temp">hhh</p>
  <div>
    Different divs
    <div class="cheese">hello</div>
    <h2>this text is bold</h2>
    <div>yepp</div>
  </div>
  <script src="/index.js"></script>
</body>

</html>
