* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0px;
}

h1 {
  color: cornflowerblue;
  text-align: center;
}

.pos_input {
  background-color: lightblue;
  outline: thick solid cornflowerblue;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 100px;
  margin: 20px;
  font-size: 50pt;
}

.top-bar {
  background-color: palevioletred;
  overflow: hidden;
  width: 100%;
}

.location-selection-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.coordinate-container {
  display: flex;
}

.option-divider {
  display: flex;
  justify-items: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.weather-data {
  margin: 50px;
  padding: 40px;
  background-color: #5f9ea0;
}

.option-divider {
  font-size: 48pt;
}