* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: cornflowerblue;
}

.pos_input {
  background-color: lightblue;
  outline: thick solid cornflowerblue;
  border-radius: 10px
}